#logo{
    width:7%;
    height:7%;
}
#cart{
    width:7%;
    height:6%;
    float:right;

}

#back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 350px;
}
div#middle{
    background:rgb(32, 76, 62)
}
 
#navbar{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}




#words{
text-align: center;
}

























 
 
